@model Stock.Web.Models.Product.ProductListViewModel

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col"> Ürün Görseli</th>
            <th scope="col"> Ürün Adı</th>
            <th scope="col">Alış Fiyatı</th>
            <th scope="col">Satış Fiyatı</th>
            <th scope="col">Miktar</th>
            <th scope="col">Kategori</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td ><img src="~/@item.ImageUrl" height="64" width="64"></td>
            <td class="pt-4">@item.Name</td>
            <td class="pt-4">@item.PurchasePrice</td>
            <td class="pt-4">@item.SellingPrice</td>
            <td class="pt-5">@item.Quantity</td>
            <td class="pt-4">@item.Category.CategoryName</td>
            <td class="pt-4">
                <a href="/Admin/UpdateProduct/@item.Id" class="btn btn-primary btn-sm mr-2">Güncelle</a>

                <a href="/Admin/DeleteProduct/@item.Id" class="btn btn-primary btn-sm mr-2">Sil</a>

            </td>
        </tr>
        }
        </tbody>
</table>